
**Python Operatörler**

Pythonda operatörleri, aritmetik operatörler, atama operatörleri, karşılaştırma operatörleri ve mantıksal operatörler şeklinde gruplayabiliriz.


**Aritmetik Operatörler**
Pythonda aritmetik operatörleri matematiksel işlemler için kullanırız.


     	x = 20 y = 5	sonuc
+	Toplama
sonuc = x + y

25
-	Çıkarma
sonuc = x - y

15
*	Çarpma
sonuc = x * y

100
/	Bölme	 	sonuc = x / y	4.0

%	Mod Alma	 	sonuc = y % x	0

//	Tam Bölme	 	sonuc = x // y	4

**	Üs alma	 	sonuc = 2 ** 3	8

In [ ]:
100/25    #Normal bölme işlemi kesirli oluyor.

4.0

In [ ]:
type (100/25)     #Type ını (tipini) öğrenme.

float

In [ ]:
100//25     #Tam bölme işlemi.

4

In [ ]:
type (100//25)      #Type ını öğrenme.

int

In [ ]:
100%25    #Modus alma işlemi.
          #İşlemin kalanını verir.

0

In [ ]:
type (100%25) #Type ını öğrenme.

int

In [ ]:
100 ** 25   #Üs alma işlemi.(POW deyimi)

100000000000000000000000000000000000000000000000000

In [ ]:
pow (100,4)

100000000

In [ ]:
2 ** 4  #Üs alma işlemi.

16

In [ ]:
 # What is the output ?
 # Çıktısı nedir ?
print (10 - 7)
print (5 + 11.0)
print ('17- 4')
print ('5'+ 5)   # Bu kısım bize TYPE ERROR verir.

3
16.0
17- 4

TypeError: can only concatenate str (not "int") to str

In [ ]:
# What is the output ?
# Çıktısı nedir ?

num1,num2 = 85,55
num3= num1-num2
print (num3)

30

In [ ]:
#Bir dairenin alanını hesaplama.
r=5     #Yarıçap
pi=3.14
area=pi * r**2
print ('Daire alanı...', area)

Daire alanı... 78.5

In [ ]:
# What is the output ?
# Çıktısı nedir ?

print(11 % 2)
print((4 * 5) / 2)

1
10.0

In [ ]:
type (11 % 2) #Type ını öğrenme

int

In [ ]:
# What is the output ?
# Çıktısı nedir ?

print(2 ** 3)
print(3 ** 2)
a= 2
b= 8
print ((a * b) ** 0.5)

8
9
4.0

In [ ]:
#pow ile üst alma.
print (pow(2,3))
print (pow(3,2))
a= 2
b= 8
print (pow (a * b,0.5))

8
9
4.0

In [ ]:
#Tüm aritmetiksel operatörler '=' atama operatörü ile birleştirilebilir.

x= 5
y= 4
x += 3  # x = x + 3 = 8
y += x  # y = y + x = 12
print (x,y)

8 12


**Python'da İşlem Önceliği Sırası:**

1.Parantezler ()

2.Üs alma **

3.İşaret (artı/eksi)

4.Çarpma, bölme, mod, tamsayı bölmesi *, /, %, //

5.Toplama ve çıkarma +, -

6.Karşılaştırma >, <, >=, <=

7.Mantıksal NOT not

8.Mantıksal AND and

9.Mantıksal OR or

10.Atama =, +=, -=, vb.

In [ ]:
#İşlem önceliği parantez daha önceliklidir.
a= (1+3) ** (2**(1*2/2)/2)
print (a)

4.0

In [ ]:
#Bir üçgenin hipotenüsünü hesaplayalım.
#a^3 + b^4 = c^2
a = 3
b = 4
c = (a**2 + b**2)**0.5
print ('Hipotenus..:',c)

Hipotenus..: 5.0

#PRİNT DEYİMİ

In [ ]:
#help
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [3]:
text1 ='I bought'
text2 = 'kg. of apple this morning'
amount = 6
text3 = text1 + ' ' + str(amount) + ' ' + text2  #amount daki sayısı string e çeviriyoruz. + ile birleştiriyoruz cümleleri.
print (text1,amount,text2)
print ('I bought', 6 , 'kg. of apple this morning')
print ('I bought '+ '6' + 'kg. of apple this morning')
print (text3)

I bought 6 kg. of apple this morning
I bought 6 kg. of apple this morning
I bought 6kg. of apple this morning
I bought 6 kg. of apple this morning

**ESCAPE CHARACTERS **

```
Code	Result	Try it
\'	Single Quote
\\	Backslash
\n	New Line
\r	Carriage Return
\t	Tab
\b	Backspace
\f	Form Feed
\ooo	Octal value
\xhh	Hex value
```



```
**Kaçış karakteri	işlev	Örnek Kod	Sonuç**
**\n**	The yeni satır karakteri programcının bir dizeden önce veya sonra yeni bir satır eklemesine yardımcı olur.	**txt = “Guru\n99!”**
yazdır(txt)**	Guru99**
**\\**	Bu kaçış dizisi programcının karakterin içine ters eğik çizgi eklemesine olanak tanır. Python çıktı.	txt = “Guru\\99!”
yazdır(txt)**	Guru\99!**
**\xhhh**	Ters eğik çizgiyi ve ardından onaltılık sayıyı kullanın.
Bu, ters eğik çizgiyle, onaltılık eşdeğeri ise çift tırnak işaretiyle yazdırılarak yapılır.	txt = “\x47\x75\x72\x75” + “99!”
yazdır(txt) 	Guru99!
**\oooo**	Sekizli bir değerin tam sayı değerini elde etmek için, ters eğik çizgiden sonra ooo veya çift tırnak içinde sekizli sayıyı girin.
Bu, çift tırnak içinde üç sekizli eşdeğeri olan bir ters eğik çizginin içine yazdırılarak yapılır.	txt = '\107\125\122\125'+ “99!”
yazdır(txt)	GURU99!
**\b**	Bu kaçış dizisi, Python dizi. Ters eğik çizgi ve ardından "b" eklenerek eklenir.
Buradaki “b” ters eğik çizgiyi temsil ediyor.	txt = “Guru\b99!”
yazdır(txt)	Gur99!
**\f**	Değişmez dizelerin enterpolasyonuna yardımcı olur	txt = “Guru\f99!”
yazdır(txt)	Guru
99!
**\r**	Ham bir dize oluşturmanıza yardımcı olur	txt = “Guru\r99!”
yazdır(txt)	99!u
**\ '**	Dizeye tek bir tırnak eklemenize yardımcı olur	txt = “Guru\'99!”
yazdır(txt)	Guru'99!

```

In [4]:
#valuelar (değerler) arasına ayraç olarak ne konulacak.
print ('C:\\north pole\noise_penguins.txt ')
print ('-------')
print ('first', 'second', 'third', sep='\t')

C:\north pole
oise_penguins.txt
-------
first	second	third

In [5]:
#'\b' aradaki boşlukları kaldırıyor.Cümleler birleşiyor.
print ('we are', '\boosting', 'our', '\brotherhood')
print ('it\'s essential to learn Python\'s libraries in IT World')

we are oosting our rotherhood
it's essential to learn Python's libraries in IT World

In [17]:
#Klavyeden girilen ismi 5 kez alt alta yazdırın.
name = input('İsminiz..:')
print(name)
print(name)
print(name)
print(name)

İsminiz..:selam
selam
selam
selam
selam

In [12]:
#advance çözüm
print((name+'\n')*5)

python
python
python
python
python

In [15]:
#Matematik ile ilgili bütün fonksiyonlar 'math' kütüphanesinde yer almaktadır.
import math
help (math)

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

        The result is between 0 and pi.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    comb(n, k, /)
        Number of ways to choose k items from n items without repetition and without order.

        Evaluates to n! / (k! * (n - k)!) when k <= n and evaluates
        to zero when k > n.

        Also called the binomial coefficient because it is equivalent
        to the coefficient of k-th term in polynomial expansion of the
        expression (1 + x)**n.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    dist(p, q, /)
        Return the Euclidean distance between two points p and q.

        The points should be specified as sequences (or iterables) of
        coordinates.  Both inputs must have the same dimension.

        Roughly equivalent to:
            sqrt(sum((px - qx) ** 2.0 for px, qx in zip(p, q)))

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(x, /)
        Find x!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(*integers)
        Greatest Common Divisor.

    hypot(...)
        hypot(*coordinates) -> value

        Multidimensional Euclidean distance from the origin to a point.

        Roughly equivalent to:
            sqrt(sum(x**2 for x in coordinates))

        For a two dimensional point (x, y), gives the hypotenuse
        using the Pythagorean theorem:  sqrt(x*x + y*y).

        For example, the hypotenuse of a 3/4/5 right triangle is:

            >>> hypot(3.0, 4.0)
            5.0

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    isqrt(n, /)
        Return the integer part of the square root of the input.

    lcm(*integers)
        Least Common Multiple.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    nextafter(x, y, /)
        Return the next floating-point value after x towards y.

    perm(n, k=None, /)
        Number of ways to choose k items from n items without repetition and with order.

        Evaluates to n! / (n - k)! when k <= n and evaluates
        to zero when k > n.

        If k is not specified or is None, then k defaults to n
        and the function returns n!.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    pow(x, y, /)
        Return x**y (x to the power of y).

    prod(iterable, /, *, start=1)
        Calculate the product of all the elements in the input iterable.

        The default start value for the product is 1.

        When the iterable is empty, return the start value.  This function is
        intended specifically for use with numeric values and may reject
        non-numeric types.

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

    ulp(x, /)
        Return the value of the least significant bit of the float x.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

In [19]:
#Bir üçgenin hipotenüsünü hesaplayalım.
#a^3 + b^4 = c^2
import math
a = 3
b = 4
c = math.sqrt(a**2 + b**2) # buradaki math.sqrt karakökünü alma işleminde kullanılır.
print ('Hipotenus..:',c)

Hipotenus..: 5.0

In [21]:
#Bir dairenin alanını hesaplama.
import math
r=5     #Yarıçap
#round : Yuvarlama işlemi yapar.

print ('Daire alanı...', round(math.pi*r**2))

Daire alanı... 79

In [22]:
bool (None)

False

In [23]:
bool(0)

False

In [24]:
bool(0.0) # içerisindeki 0 hep FALSE döndürür.

False

In [25]:
bool(000000.00001) # içerisine nokta dahi koysanız TRUE döndürür.

True

In [26]:
print(2 and 3) # Hepsi TRUE ise en sondaki elamanı verir.

3

In [27]:
print(2 or 3) # Hepsi TRUE ise en baştaki elemanı verir.

2

In [28]:
print(1 and False) # TRUE AND FALSE ise FALSE i veriyor.

False

In [29]:
print(1 and 0)

0

In [30]:
print (None and 0 and '') #and :ilk FALSE elemanı döndürür.

None

In [31]:
print(2 and 'hello world') # TRUE + TRUE = en sondaki TRUE çıkar.
print([] and 'be happy') # ilk ki içi boş bir listedir ve FALSE dur. Eğer FALSE + TRUE ise ilk FALSE i verir.
print(None and ()) # None FALSE dur bu yüzden ilk FALSE i verir. FALSE + FALSE= FALSE dur.

hello world
[]
None

In [32]:
print (None or '' or 0 or [] or False)  #OR hep TRUE arıyor.Hepsi FALSE ise en sonundakini döndürür.

False

In [35]:
print(2 or 'hello wrold') # TRUE + TRUE = en baştaki TRUE çıkar.
print([] or 'be happy') # ilk ki içi boş bir listedir ve FALSE dur. Eğer FALSE + TRUE ise ilk FALSE i verir.
print(None or ()) # None FALSE dur bu yüzden ilk FALSE i verir.
print({ } or 0)
print({0} or False) #Burada ilk TRUE i döndürdü.

2
be happy
()
0
{0}